<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BullseyeGame1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1D63D251C654F3E00D4B8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1D63D391C654F3E00D4B8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1D63D441C654F3E00D4B8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
